<?xml version="1.0" ?>
<config>
    <modules>
        <HackathonWebsite_ProjectIdea>
            <version>1.0.1</version>
        </HackathonWebsite_ProjectIdea>
    </modules>
    <global>
        <models>
            <hackathonwebsite_projectidea>
                <class>HackathonWebsite_ProjectIdea_Model</class>
                <resourceModel>hackathonwebsite_projectidea_resource</resourceModel>
            </hackathonwebsite_projectidea>
            <hackathonwebsite_projectidea_resource>
                <class>HackathonWebsite_ProjectIdea_Model_Resource</class>
                <entities>
                    <projectidea>
                        <table>hackathonwebsite_projectidea_projectidea</table>
                    </projectidea>
                </entities>
            </hackathonwebsite_projectidea_resource>
        </models>
        <helpers>
            <hackathonwebsite_projectidea>
                <class>HackathonWebsite_ProjectIdea_Helper</class>
            </hackathonwebsite_projectidea>
        </helpers>
        <resources>
            <hackathonwebsite_projectidea_setup>
                <setup>
                    <module>HackathonWebsite_ProjectIdea</module>
                </setup>
            </hackathonwebsite_projectidea_setup>
        </resources>
        <blocks>
            <hackathonwebsite_projectidea>
                <class>HackathonWebsite_ProjectIdea_Block</class>
            </hackathonwebsite_projectidea>
        </blocks>
    </global>
    <frontend>
        <routers>
            <projectIdea>
                <use>standard</use>
                <args>
                    <module>HackathonWebsite_ProjectIdea</module>
                    <frontName>projectIdea</frontName>
                </args>
            </projectIdea>
        </routers>
        <layout>
            <updates>
                <hackathonwebsite_projectidea>
                    <file>hackathonwebsite_projectidea.xml</file>
                </hackathonwebsite_projectidea>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <hackathonwebsite_projectidea>
                    <file>hackathonwebsite_projectidea.xml</file>
                </hackathonwebsite_projectidea>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <projectidea before="Mage_Adminhtml">HackathonWebsite_ProjectIdea_Adminhtml</projectidea>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <dev>
            <template>
                <allow_symlink>1</allow_symlink>
            </template>
        </dev>
    </default>
    <phpunit>
        <suite>
            <modules>
                <HackathonWebsite_ProjectIdea />
            </modules>
        </suite>
    </phpunit>
</config>